@import 'styles/index.scss';

.autoGrid {
  display: flex;

  * {
    flex: 0 1 100%;
  }
}

.cols {
  flex-wrap: wrap;
}

// Build the classes we need for each column
@mixin auto-grid-cols($size) {
  @for $i from 1 through $columns {
    .col#{$size}#{$i} > div {
      flex-basis: 100% / $i;
    }
  }
}

@include auto-grid-cols('Base');

@media #{$small-up} {
  @include auto-grid-cols('Small');
}

@media #{$medium-up} {
  @include auto-grid-cols('Medium');
}

@media #{$large-up} {
  @include auto-grid-cols('Large');
}

@media #{$xlarge-up} {
  @include auto-grid-cols('Xlarge');
}

.gutters {
  margin: -$vertical-rhythm;

  * {
    padding: $vertical-rhythm;
  }
}

.overflowFill {
  * {
    flex-grow: 1;
  }
}
