@import '../../../styles/index.scss';

.title {
  font-weight: 500;
  line-height: 1;
}

h1.title {
  font-size: $font-size-xxl;
}

h2.title {
  font-size: $font-size-xl;
}

h3.title {
  font-size: $font-size-lg;
}

h4.title {
  font-size: $font-size-md;
}
