@import 'styles/index.scss';

.tag {
  background-color: $grey;
  border-radius: 12px;
  color: $black;
  display: inline-block;
  font-size: $font-size-sm;
  padding: $vr;
  text-transform: uppercase;
}
.large {
  padding: $vr * 1.5;
  border-radius: 20px;
  font-size: $font-size-base;
}
