@import 'styles/index.scss';

.tag {
  background: $primary-color;
  border-radius: 2 * $vr;
  color: $white;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: 600;
  letter-spacing: 0.75px;
  padding: $vr (2 * $vr);
  text-transform: uppercase;
}

.large {
  border-radius: 3 * $vr;
  font-size: $font-size-base;
  padding: (1.5 * $vr) (3 * $vr);
}

.intentSecondary {
  background: $secondary-color;
  color: $black;
}

.intentSuccess {
  background: $success-color;
  color: $white;
}

.intentError {
  background: $error-color;
  color: $white;
}

.intentWarning {
  background: $warning-color;
  color: $white;
}
