@import '../../styles/index.scss';

.closeButton {
  background: $primary-color;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 3 * $vr;
  position: absolute;
  right: $vr;
  top: $vr;
  transition: all 0.2s;
  width: 3 * $vr;
  z-index: 1000;

  &:hover {
    opacity: 0.8;
  }
}

.intentSecondary {
  background: $secondary-color;

  // Icon
  svg,
  svg > * {
    fill: $black;
  }
}

.intentSuccess {
  background: $success-color;
}

.intentError {
  background: $error-color;
}

.intentWarning {
  background: $warning-color;
}
