@import 'styles/index.scss';

.navigation {
  border-bottom: 1px solid $grey;
  padding: (2 * $vertical-rhythm) 0;
  width: 100%;
}

.navigationWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $vertical-rhythm;
}

.navigationList {
  display: flex;
}
