@import '../../styles/index.scss';

.timelineItem {
  border-left: 5px solid $primary-color;
  margin-bottom: 3 * $vr;
  padding-left: 2 * $vr;

  &:last-of-type {
    .date::after {
      display: none;
    }
  }

  @media #{$small-up} {
    border-left: none;
    display: flex;
    margin-bottom: 0;
    min-height: 14 * $vr;
    padding-left: 0;
  }
}

.date {
  display: inline-block;
  font-size: $font-size-base;
  font-style: italic;
  font-weight: 600;
  line-height: 1;
  margin-bottom: $vr;
  opacity: 0.3;

  .day {
    &::after {
      content: ' ';
    }
  }

  .dayOnly {
    color: inherit;
    display: none;
    font-size: 40px;
  }

  .month {
    color: inherit;
  }

  .timeAgo {
    opacity: 0.5;
  }

  @media #{$small-up} {
    color: rgba($white, 0.2);
    flex-basis: 10 * $vr;
    font-style: normal;
    opacity: 1;
    padding-right: 2 * $vr;
    position: relative;
    text-align: center;

    &::after {
      content: '';
      background: rgba($primary-color, 0.8);
      width: 5px;
      position: absolute;
      bottom: 0;
      top: 70px;
    }

    .day {
      display: none;
    }

    .dayOnly {
      display: block;
    }

    .month {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
    }

    .timeAgo {
      display: none;
    }
  }
}

.content {
  @media #{$small-up} {
    flex-grow: 1;
  }
}
