@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/variables.scss';

.button {
  background: $black;
  border-radius: 3px;
  border: 3px solid transparent;
  color: white;
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: 600;
  line-height: 1;
  outline: 3px solid transparent;
  padding: $vertical-rhythm (2 * $vertical-rhythm);
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    background: white;
    border-color: $black;
    color: $black;
  }

  &:focus {
    border-color: white;
    outline-color: $black;
  }
}

.large {
  font-size: $font-size-base;
  padding: (2 * $vertical-rhythm) (3 * $vertical-rhythm);
}

.primary {
  background: $primary;

  &:hover {
    border-color: $primary;
    color: $primary;
  }

  &:focus {
    outline-color: $primary;
  }
}

.secondary {
  background: $secondary;

  &:hover {
    border-color: $secondary;
    color: $secondary;
  }

  &:focus {
    outline-color: $secondary;
  }
}
