@import '../../styles/index.scss';

.button {
  background: $white;
  border-radius: 3px;
  border: none;
  color: $black;
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  padding: (1.5 * $vr) (2.5 * $vr);
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    transform: translateY(1px);
  }
}

.primary {
  background: $primary-color;
  color: $white;
}

.secondary {
  background: $secondary-color;
  color: $white;
}

.large {
  font-size: $font-size-sm;
  padding: (2 * $vr) (4 * $vr);
}
