// From here https://flatuicolors.com/palette/de

// Primary colours
$white: #ffffff;
$black: #16161a;
$off-black: #242629;
$grey-dark: #72757e;
$grey: #b5bbc3;
$purple: #7f5af0;
$green: #2cb67d;
$orange: #e67e22;
$red: #df5040;
// $blue: #3498db;
// $yellow: #f1c40f;

// Brand aliases
$primary-color: $purple;
$secondary-color: $white;
$bg-color: $black;
$success-color: $green;
$error-color: $red;
$warning-color: $orange;

// Brand text colours
$headline-color: $white;
$paragraph-color: $grey;
