// This sets the "vertical-rhythm" of the styles.
// Every padding and margin etc should be a multiple of this.
$vr: 8px;

// Font sizes
$font-size-base: 16px;
$font-size-sm: $font-size-base * 0.75;
$font-size-md: $font-size-base * 1.5;
$font-size-lg: $font-size-base * 2;
$font-size-xl: $font-size-base * 3;
$font-size-xxl: $font-size-base * 4;

// Misc
$max-width: 960px;
$base-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px 0px;

// Grid
$columns: 12;
